<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" src="./style.css">
		<title>Document</title>
	</head>
	<body>
		<table border="1">
			<h1>Prueba</h1>
			<tr>
				<td>{{ nombre|upper }}</td>
				<td>
					{% for asignatura in modulo %}
						{{ asignatura }}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<td>
					C/
					{{ direccion.calle}}
				</td>
				<td>
					Num./
					{{ direccion.numero}}
				</td>
			</tr>
			<tr>
				<td>
					Parametro:
					{{ claseEjemplo.attr}}
				</td>
				<td>
					Parametros./
					{{ claseEjemplo.getAttr()}}
				</td>
			</tr>
		</table>
	</body>
</html>
